* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
  font-family: "Lucida Sans", sans-serif;
    background-color: #291a6e;
}
body{
    background-color: #291a6e;
 padding: 1%;
}
.pokedex{
 background: linear-gradient(to right, #c40000, #ffa24f);
 color: black;
 padding: 1%;
 border-bottom-left-radius: 33px;
 border-bottom-right-radius: 33px;
 border-top-left-radius: 33px;
 border-top-right-radius: 33px;
}

.header {
  background-color: black;
 color: white;
     margin-bottom: 1%;
    text-align: center;
 border-top-left-radius: 500px;
 border-top-right-radius: 500px;
 border-bottom-left-radius: 500px;
 border-bottom-right-radius: 500px;
  padding: 15px;
}

.caja{
    width: 100%;
    display: inline-block;
}

.menu a{
    text-align: center;
  padding: 8px;
  margin-bottom: 7px;
  background: linear-gradient(grey, white); 
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a:hover {
  background: linear-gradient(white, grey);
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover img {
      display: block;
    }
img {
    position: absolute;
    top: -200%;
    left: 100%;
    display: none;
    border: 2px solid black;
    background-color: white;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
 a {
      position: relative;
    }
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-bottom: 0.5%;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


.filterDiv {
  
  display: none;
}
.show {
  display: block;
}
#mySearch {
  
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  margin-bottom: 2%;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

#paginaPokemon{
    padding-top: 0;
    margin-top: 0;
}